<footer class="footer">

    <div>
      <div>
        <span class="byline">Phasellus nec erat sit amet nibh pellentesque congue</span> </div>
      <ul class="contact">
        <li><a href="#" class="icon icon-twitter"><span>Twitter</span></a></li>
        <li><a href="#" class="icon icon-facebook"><span></span></a></li>
        <li><a href="#" class="icon icon-dribbble"><span>Pinterest</span></a></li>
        <li><a href="#" class="icon icon-tumblr"><span>Google+</span></a></li>
        <li><a href="#" class="icon icon-rss"><span>Pinterest</span></a></li>
      </ul>
    </div>
    <p>&copy; 2013 Sitename.com. | Photos by <a href="http://fotogrph.com/">Fotogrph</a> | Design by <a href="http://www.freecsstemplates.org/" rel="nofollow">FreeCSSTemplates.org</a>.</p>
</footer>