<div id="header" class="container">
  <div id="logo">
    <h1><a href="#">FundPlains</a></h1>
  </div>
  <div id="menu">
    <ul>
      <li class="current_page_item"><a href="#" accesskey="1" title="">Homepage</a></li>
      <li><a href="#" accesskey="2" title="">Portfolio</a></li>
      <li><a href="#" accesskey="3" title="">About Us</a></li>
      <li><a href="#" accesskey="4" title="">Careers</a></li>
      <li><a href="#" accesskey="5" title="">Contact Us</a></li>
    </ul>
  </div>
</div>