
<Header>
  <div id="topBar"> <!--This is the Div 2 in the picture-->
  <div id="logo">
    <H1>FundPlains</H1>
  </div> <!--This is the Div 4 in the picture-->
  <div id="menu">
    <%= render 'layouts/topmenu' %>
   </div> <!--This is the Div 5 in the picture-->


  </div><!--Closing "topBar"-->
</Header>

